# Virtual environment
.venv

# Editors / IDEs
.idea
*.iml
.vscode/*

# Keep vscode settings and recommended extensions.
!.vscode/settings.json
!.vscode/extensions.json

# Python
*.pyc
*.egg-info
__pycache__

# Testing and code coverage
.coverage
coverage.xml
.pytest_cache
tests/build
